.cart-quantity {
  background-color: #7f2607;
  text-align: center;
  width: 30px;
  border-radius: 10px;
  padding: 0;
  border: none;
  background: none;
}

.scale-cart {
  animation: scaleUp 0.5s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  z-index: 10000;
  width: 50%;
  height: auto;
  transform: translate(50%) translateY(100%);
  overflow: auto;
  background-color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


